/*============= RESETS =============*/

/*-- iPhone X Remove Gutters for non rect devices --*/
html {
   padding: env(safe-area-inset);
}
/*-- Prevent Horizontal Scrolling & Font Style --*/
html, body {
   overflow-x: hidden;
   font-family: 'Lato', sans-serif;
   color: #505962;
}

/* color scheme to match with logo */
.text-chrono {
   /* color: #1EBBA3; */
   color: #1A6EB2;
}

/*--- Nav Scrolling Offset --*/
.offset:before {
   content: "";
   height: 4rem;
   display: block;
   margin-top: -4rem;
}


/* ============ SECTION LEADS GENERAL =========== */
#home {
  height: 100vh;
  background-color: #CE3635;
}

#about {
  height: 100vh;
  background-color: #D5F2E3;
}


/*============= NAVIGATION =============*/
.navbar-brand img {
   height: 4rem;
}
.navbar {
   padding: .7rem 1rem;
   text-transform: uppercase;
   font-weight: 700;
   letter-spacing: .1rem;
   font-size: .9rem;
   transition: background-color .5s ease;
}
.navbar-nav li {
   padding-right: .8rem;
}
.navbar-nav .nav-link {
   color: white;
   padding-top: .8rem;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
   color: #1A6EB2;
}
.custom-toggler-icon {
   color: white;
   font-size: 1.6rem;
}
.navbar.solid,
.navbar.solid-toggle {
  /* mobile navbar toggle hamburger transition HERE */
   background: rgba(0, 0, 0, .7)!important;
   transition: background-color 1s ease;
}

/*-- Remove Button Outline --*/
button:focus, a:focus, a.btn:focus {
   outline: 0;
   -webkit-appearance: none;
   box-shadow: none;
   transition: all .6s ease;
}
button, a, a.btn,
.svg-inline--fa {
   transition: all .6s ease;
}


/* OG BOILER */
/* body {
  text-align: center;
  color:#fff;
}

#home {
  height: 100vh;
  background-color: #CE3635;
}

.one, .two {
  background-color: #73BA9B;
  padding: 2rem;
}
.about {
  height: 100vh;
  background-color: #D5F2E3;
} */
