body {
  text-align: center;
  color:#fff;
}

#home {
  height: 100vh;
  background-color: #CE3635;
}

.one, .two {
  background-color: #73BA9B;
  padding: 2rem;
}
.about {
  height: 100vh;
  background-color: #D5F2E3;
}
